[submodule "rhc"]
	path = rhc
	url = git@github.com:fotioslindiakos/rhc.git
[submodule "li"]
	path = li
	url = git@github.com:fotioslindiakos/li.git
[submodule "origin-dev-tools"]
	path = origin-dev-tools
	url = git@github.com:fotioslindiakos/origin-dev-tools.git
